<!-- component navbar -->
<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo">Social banners</a>
    <a href="#" class="brand-logo center"> Pobierz </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Horizontal</a></li>
      <li><a>Horizontal reverse</a></li>
      <li><a>Vertical</a></li>
      <li><a>Vertival reverse</a></li>
    </ul>
  </div>
</nav>
<!-- component navbar end -->

<div>
  <!-- component banner -->
  <div class="banner">
    <div class="banner-text">
      <span contenteditable="true">cały czas uczę się Angulara</span>
    </div>
  </div>
  <!-- component banner end -->

  <!-- component banner settings -->
  <div class="settings">
    <label>Colour 1</label>
    <div class="colors">
      <span class="badge"></span>
    </div>
    <input type="range" min="0" max="100" />

    <label>Colour 2</label>
    <div class="colors">
      <span class="badge"></span>
    </div>
    <input type="range" min="0" max="100" />

    <label>Width</label>
    <input type="range" min="0" max="1000" step="50" />

    <label>Height</label>
    <input type="range" min="0" max="1000" step="50" />

    <label>Font size</label>
    <input type="range" min="12" max="72" />
  </div>
  <!-- component settings end -->
</div>
